#titulo {
    text-align: center;
    color: rgb(34,139,34);
}

#subtitulo {
    color: #99B080;
    text-align: center;
}

.texto {
    color: #748E63;
    text-align: center;
    font-size: 20px;
}

body {
    background-color: #F9B572;
}

#logo {
    width: 300px;
    margin: 0;
    padding: 0;
}

.cabecalho {
    background-color: #2B2A4C;
}

.conteudo {
    background-color: #B31312;
}

.rodape {
    background-color: #EA906C;
}

